logs
.ipynb_checkpoints
testing

# Intellij IDEA files
.idea
*.iml
*.ipr
*.iws

# Eclipse files
.classpath
.project
.settings/
.ropeproject

# gEdit temporal files
*~

# Python bytecode
*.pyc
oncodrivefm2.egg-info/
