
[signature]

# Choose the method to calculate the trinuclotide singature:

# "full" : Use a 192 matrix with all the possible signatures
method = full

# "complemented" : Use a 96 matrix with the signatures complemented
# method = complement

# "none": Don't use signature
# method = none

# "bysample": Compute a 96 matrix signature for each sample
# method = bysample



# Choose the classifier for the signature:

# you can use any of the columns in the dataset
# classifier = SAMPLE
# classifier = CANCER_TYPE

# or leave it empty to use the whole dataset


# Choose if the signature must be computed using only the elements
# that fall into the regions you are analysing:

# False: use the whole dataset
# use_only_mapped_elements = False

# True:use only mutations fall in any of the elements from the elements file
# use_only_mapped_elements = True


use_only_mapped_elements

# "file": Provide a file with the signature to use
# The format is a tab separated file with header, and you have to set the columns to use.
# method = file
# path = [path to the file that contains the signature]
# column_ref = [column that contains the reference signature]
# column_alt = [column that contains the alternate signature]
# column_probability = [column that contaions the probability]

# classifier = column of the mutations file that replaces the SIGNATURE column
# if method is "bysample" the classifier is overwriten to "SAMPLE".
# Use "SIGNATURE" to keep the value.
# It can be any string value. If there is no column with that name, then the name is
# used.


[score]
# Path to score tab separated file compress with bgzip and next to a Tabix .tbi index file
file = "%(bgdata://genomicscores/cadd/1.3)"

# WARNING: The %(bgdata:...) will download (the first time that you use it) a score file from
# our servers and install it into the ~/.bgdata folder.

# WARNING: CADD 1.3 scores are original from http://cadd.gs.washington.edu/ and are freely
# available for all non-commercial applications. If you are planning on using them in a
# commercial application, please contact them at http://cadd.gs.washington.edu/contact.

# Column that has the chromosome
chr = 0

# If the chromosome has a prefix like 'chr'. Example: chrX chr1 ...
chr_prefix = ''

# Column that has the position
pos = 1

# Column that has the reference allele
ref = 2

# Column that has the alternative allele
alt = 3

# Column that has the score value
score = 5

# If you have different scores at the same position, and each score applies to a
# different region element, then uncomment this line and set the value to the column
# that has the element id to match.
# element = 6

[background]
# Size of the sampling
sampling = 100000

# Randomization range. Maximum distance where do you want to simulate a mutation
range = 1000

# If true all the recurrent mutations will be use, if false only one mutation per position will be use.
recurrence = True

[statistic]

# Mathematical method to use
# Arithmetic mean
method = amean

# Gemoetric mean
# method = gmean

# Compute the substitutions
subs = True

# Do not compute the substitutions
#subs = False

    # Insertions and deletions
    [[indels]]
        # Use indels
        enabled = True

        # Widow size
        window_size = 10

        # Function to weight the scores within the window size but outside the indel size
        weight_function = 'constant'
        weight_function = 'linear'
        weight_function = 'logistic'

        # Distinguish between frame shift and in frame indels (for coding regions)
        frame_shift = boolean(default=False)

[settings]

# Maximum number of cores to use (default to all available)
# cores = [cores to use]

# If using a DRMAA cluster, this parameter defines how many elements do you want to calculate per job
# drmma = 100

# If using a DRMAA cluster, this parameter defines the maximum number of jobs to submit to the queue at the same time (if none all the jobs are submited)
# drmaa_maximum = 100

# If using a DRMAA cluster, this parameters defines the queues to use
# queues = normal, long
