[genome]
# Build of the reference genome
# Currently human genomes supported: hg19, hg38 and hg18
# mouse genomes: c3h and mm10
build = 'hg19'


[statistic]


# Sampling
sampling = 100000

# Sampling chunk (in millions)
sampling_chunk = 100



[settings]
# Number of cores to use in the analysis
# Comment this option to use all avaliable cores
# cores = 6



# Configuration for the logging system
[logging]
version = 1
disable_existing_loggers = False
# Configuration for the handlers
[[handlers]]
# Log to stdout
[[[console]]]
class = 'logging.StreamHandler'
formatter = 'bgformat'
level = 'INFO'
stream = 'ext://sys.stdout'
# log to a file
[[[file]]]
class = 'logging.FileHandler'
formatter = 'bgformat'
filename = 'log.txt'
mode = 'w'
# Configuration for the formatters
[[formatters]]
[[[bgformat]]]
format ='%(asctime)s %(levelname)s: %(message)s'
datefmt ='%H:%M:%S'
# Configuration for the loggers
[[loggers]]
# OncodriveFML logger
[[[oncodrivefml]]]
handlers = ['console', 'file']
level = 'DEBUG'
propagate = 0
